# macOS files
*.xcworkspacedata
*.xcuserstate
*.xcsettings
*.xcbkptlist
*.xcscheme
*.plist
*.dylib
*.xlib
.DS_Store


# Windows files
*.exp
*.cdl64
*.opensdf
*.sdf
*.tlog
*.lastbuildstate
*.obj
*.xdl64

# Misc files and folders
*.msg
*.stamp
*.hxx
*.ph
generated
